<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boot Camp Happy Hour</title>

    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>
    <div class="wrapper">
      <header class="container header">
        {{! nav bar section, will display log in if user is not logged in already, otherwise will show the link to the dashboard and an option to log out }}
        <nav>
          |
          <a href="/">home</a>
          |
          {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            |
            <a href="logout" id="logout">Logout</a>
            |

          {{else}}
            <a href="/login">login</a>
            |
          {{/if}}
        </nav>
      </header>
      <div class="page-title">
        <div class="title">
          <h1>Where should we have our post bootcamp happy hour???</h1>
        </div>
      </div>
      {{! this will display pre existing blog entries }}
      <main>
        {{{body}}}
      </main>
    </div>
    {{! linking logout js file for if/when logout link is pressed }}
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>