<a href="/dashboard" class="back-to-dashboard">
  Click here to go back to your dashboard</a>

<article class="new-blog">
  <section class="new-blog-form">
    <div>
      <h2>Create New Blog</h2>
    </div>
    <div>
      <form class="new-blog-entry">
        <div>
          <label for="blog-title">Title</label>
          <input
            type="text"
            class="entry-field"
            id="blog-title"
            name="blog-title"
          />
        </div>
        <div>
          <label for="blog-content">Content</label>
          <textarea
            class="entry-field"
            id="blog-content"
            name="blog-content"
          ></textarea>
        </div>
        <div class="button-div">

          <button type="submit" class="btn">Create</button>
        </div>
      </form>
    </div>
  </section>
</article>
<script src="/js/add-blog.js"></script>
