<div class="blog-dashboard">
    <button type="submit" class="btn" id="create-new-blog">+ Create new blog</button>
</div>


{{#if blogs.length}}
<section class="dashboard-section">
    <h2>Your Dashboard</h2>
    <ul>
        {{#each blogs as |blog|}}
        <li>
            {{> blog-info blog}}
            <a href="/dashboard/edit/{{blog.id}}" class="edit-blog">edit blog</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}


<script src="/js/create-blog.js"></script>
