<a href="/dashboard" class="back-to-dashboard">
  Click here to go back to your dashboard</a>

<article class="edit-blog">
  <section class="edit-blog-form">
    <div>
      <h2>
        Edit Blog
      </h2>
    </div>
    <div>
      <form class="new-blog-entry">
        <div>
          <label for="blog-title">Title</label>
          <input
            type="text"
            class="entry-field"
            name="blog-title"
            id="blog-title"
            value="{{blog.title}}"
          />
        </div>
        <div>
          <label for="blog-content">Content</label>
          <textarea
            class="entry-field"
            id="blog-content"
            name="blog-content"
          >{{blog.content}}</textarea>
        </div>
        <div class="buttons">

          <button type="submit" class="edit-btn btn">Update blog</button>
          <button type="button" class="edit-btn btn delete-blog-btn">Delete blog</button>
        </div>
      </form>
    </div>
  </section>
</article>

{{#if loggedIn}}
  <script src="/js/edit-blog.js"></script>{{/if}}
<script src="/js/delete-blog.js"></script>
