<a href="/dashboard" class="back-to-dashboard"> Click here to go back to your dashboard</a>
<br>
<br>

{{> blog-info blog}}

{{#if loggedIn}}
<div class="comment-entry-form">
<div>

<p>Enter your comment here</p>
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="entry-field"></textarea>
    </div>

    <div class="comment-btn-div">
        <button type="submit" class="btn">add comment</button>
    </div>
</form>
</div>
</div>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
